@font-face {
 src: url(fonts/RedHatDisplay-Regular.ttf);
 font-family: redhat;
}
* {
 font-family: redhat;
}
body {
 background-image: linear-gradient(210deg, hsl(225, 100%, 98%), hsl(225, 100%, 94%));
}
#dark_blue {
    background-color: hsl(245, 75%, 52%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 85%;
    font-weight: bolder;
}
#dark_blue:hover {
    background-color: hsl(223, 47%, 23%);
}
.attribution { 
   font-size: 11px; text-align: center; 
}
.attribution a { 
   color: hsl(228, 45%, 44%); 
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(190deg, hsl(225, 100%, 98%), hsl(225, 100%, 94%));
}
.child {
	border-radius: 12px;
	text-align: center;
	width: 450px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#one {
    float:left; 
    margin-left: 10px;
    width:80px;
    
}
#two{
    float:left; 
    
    margin-right: 80px;
    height: 60px;
    width: 100px;
    
}
#three{
    float:right;
    width:33%;
}
.row {
   width: 85%;
   height: 90px;
   background-color: hsl(225, 100%, 98%);
   border-radius: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 33px;
   margin-top: 15px;
   margin-bottom: 25px;
}
#plain {
   font-weight: bolder;
   font-size: 14px;
   text-decoration: none;
   border: none;
   color: darkgrey;
   cursor: pointer;
   margin-top: 40px;
   margin-bottom: 20px;
   background-color: white;
}
#plain:hover {
   color: black;
}
#hov:hover {
   text-decoration: none;
   color: purple;
}